In [1]:
import pandas as pd

In [2]:
#Auxiliary lists of titles
columns1 = ['Molecular block number 1', 'Molecule number 1', 'Serial number of a residue 1', 
            'Title of a residue 1', 'PDB number of a residue 1']
columns2 = ['Molecular block number 2', 'Molecule number 2', 'Serial number of a residue 2', 
            'Title of a residue 2', 'PDB number of a residue 2']
necessary_columns = ['Title of a residue 1', 'PDB number of a residue 1',
              'Title of a residue 2', 'PDB number of a residue 2', 'Duration']

names = ['a', 'b', 'Duration']
durations = ['Duration 3', 'Duration 5', 'Duration 8']

In [3]:
#Assign function which processes data from Nikolay csv file
def process_of_data(data):
    return pd.concat([pd.DataFrame(data.a.str.split().tolist(),
                                 columns = columns1), pd.DataFrame(data.b.str.split().tolist(),
                                 columns = columns2), pd.DataFrame(data.Duration)], axis=1)

#Assign filter function, extracting appropritate data from pandas DataFrame
def extract_appropriate_data(dataframe, duration_of_interaction = 0.1):
    return dataframe[(((pd.to_numeric(dataframe['PDB number of a residue 1']) < 1000) & 
                        (pd.to_numeric(dataframe['PDB number of a residue 2']) >= 1000)) | 
                       ((pd.to_numeric(dataframe['PDB number of a residue 1']) >= 1000) & 
                        (pd.to_numeric(dataframe['PDB number of a residue 2']) < 1000))) &
                    (pd.to_numeric(dataframe['Duration']) > duration_of_interaction)]

In [4]:
#Model 3
data1 = pd.read_csv("./model_3/md.tpr_hb_ft.csv", names=names)
data2 = pd.read_csv("./model_3/md.tpr_phob_ft.csv", names=names)
data3 = pd.read_csv("./model_3/md.tpr_pi_ft.csv", names=names)
data4 = pd.read_csv("./model_3/md.tpr_sb_ft.csv", names=names)
data5 = pd.read_csv("./model_3/md.tpr_stk_ft.csv", names=names)

hb_3 = extract_appropriate_data(process_of_data(data1))[necessary_columns].rename(columns={'Duration': 'Duration 3'})
phob_3 = extract_appropriate_data(process_of_data(data2))[necessary_columns].rename(columns={'Duration': 'Duration 3'})
pi_3 = extract_appropriate_data(process_of_data(data3))[necessary_columns].rename(columns={'Duration': 'Duration 3'})
sb_3 = extract_appropriate_data(process_of_data(data4))[necessary_columns].rename(columns={'Duration': 'Duration 3'})
stk_3 = extract_appropriate_data(process_of_data(data5))[necessary_columns].rename(columns={'Duration': 'Duration 3'})

In [5]:
data1 = pd.read_csv("./model_5/md.tpr_hb_ft.csv", names=names)
data2 = pd.read_csv("./model_5/md.tpr_phob_ft.csv", names=names)
data3 = pd.read_csv("./model_5/md.tpr_pi_ft.csv", names=names)
data4 = pd.read_csv("./model_5/md.tpr_sb_ft.csv", names=names)
data5 = pd.read_csv("./model_5/md.tpr_stk_ft.csv", names=names)

hb_5 = extract_appropriate_data(process_of_data(data1))[necessary_columns].rename(columns={'Duration': 'Duration 5'})
phob_5 = extract_appropriate_data(process_of_data(data2))[necessary_columns].rename(columns={'Duration': 'Duration 5'})
pi_5 = extract_appropriate_data(process_of_data(data3))[necessary_columns].rename(columns={'Duration': 'Duration 5'})
sb_5 = extract_appropriate_data(process_of_data(data4))[necessary_columns].rename(columns={'Duration': 'Duration 5'})
stk_5 = extract_appropriate_data(process_of_data(data5))[necessary_columns].rename(columns={'Duration': 'Duration 5'})

In [6]:
data1 = pd.read_csv("./model_8/md.tpr_hb_ft.csv", names=names)
data2 = pd.read_csv("./model_8/md.tpr_phob_ft.csv", names=names)
data3 = pd.read_csv("./model_8/md.tpr_pi_ft.csv", names=names)
data4 = pd.read_csv("./model_8/md.tpr_sb_ft.csv", names=names)
data5 = pd.read_csv("./model_8/md.tpr_stk_ft.csv", names=names)

hb_8 = extract_appropriate_data(process_of_data(data1))[necessary_columns].rename(columns={'Duration': 'Duration 8'})
phob_8 = extract_appropriate_data(process_of_data(data2))[necessary_columns].rename(columns={'Duration': 'Duration 8'})
pi_8 = extract_appropriate_data(process_of_data(data3))[necessary_columns].rename(columns={'Duration': 'Duration 8'})
sb_8 = extract_appropriate_data(process_of_data(data4))[necessary_columns].rename(columns={'Duration': 'Duration 8'})
stk_8 = extract_appropriate_data(process_of_data(data5))[necessary_columns].rename(columns={'Duration': 'Duration 8'})

In [7]:
def triple_left_join(all_residues, df1, df2, df3, columns = necessary_columns[:-1]):
    return all_residues.merge(df1.merge(df2.merge(df3, how='left', on=columns), how='left', on=columns), how='left', on=columns)

In [8]:
def triple_union(df1, df2, df3):
    return pd.concat([df1, df2, df3])

In [9]:
def final_processed_data(df1, df2, df3, columns = necessary_columns[:-1]):
    unique_pairs_of_residues = triple_union(df1[columns], 
                                            df2[columns], 
                                            df3[columns]).drop_duplicates()
    unique_pairs_of_residues = unique_pairs_of_residues.merge(df1, how='left', on=columns)
    unique_pairs_of_residues = unique_pairs_of_residues.merge(df2, how='left', on=columns)
    unique_pairs_of_residues = unique_pairs_of_residues.merge(df3, how='left', on=columns)
    return unique_pairs_of_residues

In [10]:
#Hydrogen bonds
final_processed_data(hb_3, hb_5, hb_8).sort_values(by=durations, ascending=False)

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Duration 3,Duration 5,Duration 8
0,ARG,27,ASP,3591,0.942529,0.776045,0.475262
1,SER,10,ASP,3591,0.851074,0.964407,NaN
2,ASN,25,ASN,3588,0.605697,0.548890,0.111444
3,PHE,36,HIS,3587,0.561719,NaN,NaN
4,PHE,36,ARG,3582,0.506747,NaN,NaN
5,ASP,34,ARG,3582,0.469765,NaN,NaN
6,LYS,18,GLY,2628,0.443778,0.621276,NaN
7,ARG,1,ASP,4591,0.435782,0.826635,NaN
8,ARG,20,ASP,1591,0.322839,0.885423,0.757121
9,LYS,23,ASN,4588,0.318841,0.108778,0.456272
10,THR,24,GLY,4628,0.293853,0.778644,NaN
11,SER,19,ASN,1588,0.164918,NaN,NaN
12,ASN,25,GLY,3628,0.163918,NaN,NaN
13,ARG,20,ASN,1588,0.122439,NaN,0.133933
14,GLU,9,ARG,2582,0.120440,0.395721,0.197401
15,ARG,27,HIS,3587,0.111944,0.457708,NaN
16,LYS,18,SER,1631,0.109945,NaN,NaN
17,LYS,23,ASN,4629,0.101949,NaN,0.100450
18,THR,24,GLY,3628,0.100450,NaN,NaN
19,PHE,36,GLN,4592,NaN,0.951010,0.101949
20,THR,24,ASN,3629,NaN,0.925215,NaN
21,ASN,25,ASN,3629,NaN,0.871626,NaN
22,ARG,20,HIS,1587,NaN,0.765847,NaN
23,ARG,20,GLN,1592,NaN,0.606279,NaN
24,SER,19,ASN,1633,NaN,0.528894,NaN
25,PHE,36,ASN,4588,NaN,0.455309,NaN
26,ARG,20,ARG,1582,NaN,0.453109,NaN
27,LYS,18,SER,2631,NaN,0.366127,NaN
28,LYS,18,PHE,3627,NaN,0.364727,NaN
29,TYR,11,GLY,2584,NaN,0.333333,NaN
30,TYR,11,ASN,2588,NaN,0.296741,0.355822
31,SER,19,GLN,2592,NaN,0.287742,NaN
32,SER,19,ASN,2629,NaN,0.286343,NaN
33,LYS,23,ASP,4591,NaN,0.231554,0.436282
34,SER,8,ARG,2582,NaN,0.186763,NaN
35,TYR,11,ASP,2580,NaN,0.183363,NaN
36,THR,24,SER,3631,NaN,0.181364,NaN
37,GLY,22,SER,4631,NaN,0.132174,NaN
38,GLN,12,ARG,2582,NaN,0.108778,NaN
39,TYR,11,ASP,2591,NaN,NaN,0.894553
40,SER,19,SER,4631,NaN,NaN,0.449775
41,THR,24,ASN,3588,NaN,NaN,0.442279
42,GLY,22,ASN,4588,NaN,NaN,0.414793
43,LYS,18,ASN,3588,NaN,NaN,0.408296
44,ASN,25,ASP,3591,NaN,NaN,0.400300
45,LYS,18,VAL,4630,NaN,NaN,0.388306
46,GLN,12,GLN,2592,NaN,NaN,0.369315
47,LYS,18,ASN,3629,NaN,NaN,0.247376
48,LYS,18,ASN,4629,NaN,NaN,0.202399
49,ASP,4,ARG,1582,NaN,NaN,0.180410
50,SER,8,ASP,2591,NaN,NaN,0.156422
51,GLY,22,GLN,4592,NaN,NaN,0.154423
52,PHE,21,ASN,4588,NaN,NaN,0.136932
53,GLN,12,ASP,2591,NaN,NaN,0.125437
54,THR,24,GLN,4592,NaN,NaN,0.120940
55,TYR,11,ARG,2582,NaN,NaN,0.119940

In [11]:
#Pi-cationic interaction
final_processed_data(pi_3, pi_5, pi_8).sort_values(by=durations, ascending=False)

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Duration 3,Duration 5,Duration 8
0,ARG,27,HIS,3587,0.962519,0.666467,NaN
1,LYS,18,PHE,2627,0.806097,0.793641,NaN
2,TYR,11,ARG,2582,0.507746,0.449910,0.765117
3,ARG,1,HIS,4587,0.371814,NaN,NaN
4,PHE,36,ARG,3582,0.284858,NaN,NaN
5,ARG,20,HIS,1587,0.184408,0.838232,NaN

In [12]:
#Salt bridges
final_processed_data(sb_3, sb_5, sb_8).sort_values(by=durations, ascending=False)

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Duration 3,Duration 5,Duration 8
0,ARG,27,ASP,3591,0.947526,0.808238,0.497251
1,PHE,36,ARG,3582,0.536232,NaN,NaN
2,ARG,1,ASP,4591,0.512244,0.881824,0.107946
3,ASP,34,ARG,3582,0.486257,NaN,NaN
4,ARG,20,ASP,1591,0.328836,0.896221,0.768116
5,GLU,9,ARG,2582,0.133433,0.480704,0.219890
6,LYS,23,ASP,4591,0.126937,0.342931,0.577211
7,ASP,4,ARG,1582,NaN,NaN,0.185407

In [13]:
#Stacking
final_processed_data(stk_3, stk_5, stk_8).sort_values(by=durations, ascending=False)

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Duration 3,Duration 5,Duration 8
0,PHE,36,ARG,3582,0.209895,NaN,NaN
1,ARG,27,HIS,3587,0.197401,0.320136,NaN
2,TYR,11,ARG,2582,0.151924,NaN,NaN
3,PHE,36,HIS,3587,0.139430,NaN,NaN
4,ARG,20,ARG,1582,NaN,0.129774,NaN