In [1]:
import pandas as pd

#Auxiliary lists of titles
columns1 = ['Molecular block number 1', 'Molecule number 1', 'Serial number of a residue 1', 
            'Title of a residue 1', 'PDB number of a residue 1']
columns2 = ['Molecular block number 2', 'Molecule number 2', 'Serial number of a residue 2', 
            'Title of a residue 2', 'PDB number of a residue 2']
necessary_columns = ['Title of a residue 1', 'PDB number of a residue 1',
              'Title of a residue 2', 'PDB number of a residue 2', 'Molecular block number 2','Duration']

names = ['a', 'b', 'Duration', 'c']
durations = ['Duration 3', 'Duration 5', 'Duration 8']

#Assign function which processes data from Nikolay csv file
def process_of_data(data):
    return pd.concat([pd.DataFrame(data.a.str.split().tolist(),
                                 columns = columns1), pd.DataFrame(data.b.str.split().tolist(),
                                 columns = columns2), pd.DataFrame(data.Duration)], axis=1)

#Assign filter function, extracting appropritate data from pandas DataFrame
def extract_appropriate_data(dataframe, duration_of_interaction = 0.1):
    return dataframe[(((pd.to_numeric(dataframe['Molecular block number 1']) == 8) & 
                       (pd.to_numeric(dataframe['Molecular block number 2']) != 8)) | 
                       ((pd.to_numeric(dataframe['Molecular block number 1']) != 8) & 
                       (pd.to_numeric(dataframe['Molecular block number 2']) == 8))) &
                    (pd.to_numeric(dataframe['Duration']) > duration_of_interaction)]

In [2]:
label = "hERG3"
data1 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_hb_ft.csv", names=names)
data2 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_pi_ft.csv", names=names)
data3 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_sb_ft.csv", names=names)
data4 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_stk_ft.csv", names=names)
data5 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_phob_ft.csv", names=names)

hb_3 = extract_appropriate_data(process_of_data(data1))[necessary_columns].reset_index(drop=True)
pi_3 = extract_appropriate_data(process_of_data(data2))[necessary_columns].reset_index(drop=True)
sb_3 = extract_appropriate_data(process_of_data(data3))[necessary_columns].reset_index(drop=True)
stk_3 = extract_appropriate_data(process_of_data(data4))[necessary_columns].reset_index(drop=True)
phob_3 = extract_appropriate_data(process_of_data(data5))[necessary_columns].reset_index(drop=True)

In [3]:
hb_3

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Molecular block number 2,Duration
0,ARG,27,ASP,589,5,0.815185
1,CYS,35,GLN,593,7,0.755245
2,GLU,9,ARG,598,5,0.747253
3,ARG,20,GLN,594,1,0.737263
4,LYS,18,SER,634,1,0.590410
5,ASP,34,ARG,598,7,0.554446
6,ASN,25,ASN,632,5,0.542458
7,LYS,23,ASN,632,7,0.521479
8,PHE,36,SER,634,5,0.502498
9,ARG,1,ASP,589,7,0.388611
10,LYS,18,GLY,631,5,0.366633
11,LYS,23,SER,634,7,0.354645
12,TYR,11,ASP,589,3,0.307692
13,PHE,36,GLN,594,7,0.246753
14,LYS,18,GLY,631,3,0.182817
15,THR,24,SER,634,5,0.169830
16,ASN,25,GLN,594,5,0.151848
17,TYR,11,GLY,586,3,0.146853
18,ASP,4,GLN,593,1,0.145854
19,ASP,4,ARG,598,1,0.133866
20,LYS,18,SER,634,3,0.125874
21,ARG,20,GLN,593,1,0.110889

In [4]:
pi_3

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Molecular block number 2,Duration
0,PHE,36,LYS,584,5,0.504496
1,TYR,11,ARG,598,5,0.414585
2,LYS,23,PHE,630,1,0.304695
3,LYS,18,PHE,630,3,0.103896

In [5]:
sb_3

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Molecular block number 2,Duration
0,ARG,27,ASP,589,5,0.833167
1,GLU,9,ARG,598,5,0.776224
2,ASP,34,ARG,598,7,0.556444
3,ARG,1,ASP,589,7,0.398601
4,ASP,4,ARG,598,1,0.176823

In [6]:
stk_3

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Molecular block number 2,Duration
0,ARG,1,ARG,598,7,0.315684