In [1]:
import pandas as pd

#Auxiliary lists of titles
columns1 = ['Molecular block number 1', 'Molecule number 1', 'Serial number of a residue 1', 
            'Title of a residue 1', 'PDB number of a residue 1']
columns2 = ['Molecular block number 2', 'Molecule number 2', 'Serial number of a residue 2', 
            'Title of a residue 2', 'PDB number of a residue 2']
necessary_columns = ['Title of a residue 1', 'PDB number of a residue 1',
              'Title of a residue 2', 'PDB number of a residue 2', 'Molecular block number 2','Duration']

names = ['a', 'b', 'Duration', 'c']
durations = ['Duration 3', 'Duration 5', 'Duration 8']

#Assign function which processes data from Nikolay csv file
def process_of_data(data):
    return pd.concat([pd.DataFrame(data.a.str.split().tolist(),
                                 columns = columns1), pd.DataFrame(data.b.str.split().tolist(),
                                 columns = columns2), pd.DataFrame(data.Duration)], axis=1)

#Assign filter function, extracting appropritate data from pandas DataFrame
def extract_appropriate_data(dataframe, duration_of_interaction = 0.1):
    return dataframe[(((pd.to_numeric(dataframe['Molecular block number 1']) == 4) & 
                       (pd.to_numeric(dataframe['Molecular block number 2']) != 4)) | 
                       ((pd.to_numeric(dataframe['Molecular block number 1']) != 4) & 
                       (pd.to_numeric(dataframe['Molecular block number 2']) == 4))) &
                    (pd.to_numeric(dataframe['Duration']) > duration_of_interaction)]

In [2]:
label = "EAG"
data1 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_hb_ft.csv", names=names)
data2 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_pi_ft.csv", names=names)
data3 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_sb_ft.csv", names=names)
data4 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_stk_ft.csv", names=names)
data5 = pd.read_csv("./" + label + "/contacts_analisys/md.tpr_phob_ft.csv", names=names)

hb = extract_appropriate_data(process_of_data(data1))[necessary_columns].reset_index(drop=True)
pi = extract_appropriate_data(process_of_data(data2))[necessary_columns].reset_index(drop=True)
sb = extract_appropriate_data(process_of_data(data3))[necessary_columns].reset_index(drop=True)
stk = extract_appropriate_data(process_of_data(data4))[necessary_columns].reset_index(drop=True)
phob = extract_appropriate_data(process_of_data(data5))[necessary_columns].reset_index(drop=True)

FileNotFoundError: [Errno 2] File b'./EAG/contacts_analisys/md.tpr_hb_ft.csv' does not exist: b'./EAG/contacts_analisys/md.tpr_hb_ft.csv'

In [6]:
hb

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Molecular block number 2,Duration
0,ARG,1,ASP,398,0,0.646871
1,SER,19,GLN,394,1,0.623075
2,SER,19,ASN,441,1,0.484503
3,TYR,11,TYR,393,1,0.450910
4,LYS,18,GLY,440,1,0.421916
5,LYS,23,ASN,441,3,0.416317
6,LYS,23,ASP,398,3,0.396321
7,LYS,18,ASN,441,1,0.304539
8,LYS,18,GLY,440,2,0.292142
9,TYR,11,ASN,389,1,0.281344
10,ASP,4,TYR,393,0,0.280544
11,ARG,20,GLN,394,0,0.270346
12,TYR,11,ASN,388,1,0.235553
13,ARG,20,ASN,388,0,0.201160
14,THR,24,ASN,441,2,0.189962
15,PHE,36,GLN,394,3,0.179364
16,ARG,20,SER,390,0,0.175565
17,LYS,23,GLN,394,3,0.163967
18,SER,19,ASP,398,1,0.162567
19,LYS,18,PHE,439,2,0.120976
20,THR,24,ASN,441,3,0.117576
21,LYS,18,ASN,441,2,0.110978
22,THR,24,GLY,440,2,0.107978
23,GLY,22,ASN,441,0,0.100380

In [5]:
pi

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Molecular block number 2,Duration
0,ARG,27,TYR,393,2,0.679264
1,ARG,20,TYR,393,0,0.570686
2,ARG,1,TYR,393,3,0.155369

In [4]:
sb

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Molecular block number 2,Duration
0,ARG,1,ASP,398,0,0.739052
1,LYS,23,ASP,398,3,0.417516
2,LYS,23,ASP,398,0,0.105579

In [3]:
stk

,Title of a residue 1,PDB number of a residue 1,Title of a residue 2,PDB number of a residue 2,Molecular block number 2,Duration
0,ARG,27,TYR,393,2,0.283143
1,ARG,20,TYR,393,0,0.190362